<h1><%= @name %>, huh?</h1>

<section class="singing" >
  <p><%= @name %>, <%= @name %>, bo-<%= @b_name %></p>
  <p>Banana-fana fo-<%= @f_name %></p>
  <p>Mee-mi-mo-<%= @m_name %></p>
  <p><%= @name %>!</p>
</section>

<p>
  I <em>love</em> this game!  Wanna <%= link_to "play again", "/name_game/ask" %>?
</p>